.pfd-dto {
  font-size: 18px;
}

  .pfd-dto-alt-offset {
    position: relative;
    height: 30px;
    display: grid;
    grid-template-columns: 180px 100px;
    align-items: end;
    padding: 5px;
  }

  .pfd-dto-wpt-data {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    align-items: center;
    padding: 5px;
    color: whitesmoke;
  }
    .pfd-dto-wpt-data-field {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
    }
      .pfd-dto-wpt-data-field-title {
        width: 35px;
        color: var(--title-gray);
        font-size: 0.75em;
      }
    .pfd-dto-course {
      color: cyan;
    }

  .activate {
    position: absolute;
    bottom: 1px;
    left: 5px;
  }

  .hold {
    position: absolute;
    bottom: 1px;
    left: 245px;
  }

