:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  html body {
    -webkit-user-select: none;
    font-family: var(--font);
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
  font-family: "Medium Oblique";
  src: url("/Pages/VCockpit/Instruments/JPLogistics/Fonts/QUARTZIT2.otf") format("truetype");
  font-weight: 900;
  font-style: normal; }

kr87-element {
  width: 100%;
  height: 100%;
  color: #ff8516;
  font-family: Medium Oblique;
  overflow: hidden; }
  kr87-element #Mainframe {
    width: 100%;
    height: 100%; }
  kr87-element #AdfPanel {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    position: absolute; }
    kr87-element #AdfPanel #ANTModeAnnunc {
      position: absolute;
      top: 22%;
      left: 13%;
      font-size: 26px; }
    kr87-element #AdfPanel #ADFModeAnnunc {
      position: absolute;
      top: 64%;
      left: 13%;
      font-size: 26px; }
    kr87-element #AdfPanel #Ident {
      position: absolute;
      top: 22%;
      left: 21%;
      font-size: 26px; }
    kr87-element #AdfPanel #FRQ {
      position: absolute;
      top: 35%;
      left: 8%;
      width: 40%; }
      kr87-element #AdfPanel #FRQ #InUseFrequency {
		letter-spacing: 5px;
        font-size: 48px;
        position: relative;
        text-align: right; }
    kr87-element #AdfPanel #BFOModeAnnunc {
      font-size: 24px;
      position: absolute;
      top: 21%;
      left: 50%; }
    kr87-element #AdfPanel #StbyFrequencyModeAnnunc {
      font-size: 26px;
      position: absolute;
      top: 64%;
      left: 53%; }
    kr87-element #AdfPanel #R {
      position: absolute;
      top: 35%;
      left: 60%;
      width: 25%; }
      kr87-element #AdfPanel #R #RightDisplay {
		letter-spacing: 5px;
        font-size: 48px;
        position: relative;
        text-align: right; }
    kr87-element #AdfPanel #FLTModeAnnunc {
      font-size: 27px;
      position: absolute;
      top: 22%;
      left: 91%; }
    kr87-element #AdfPanel #ETModeAnnunc {
      font-size: 27px;
      position: absolute;
      top: 66%;
      left: 92.5%; }