*.blend
*.blend1
*.obj
*.stl
/.vs/JPLogistics_C152/v17/Preview/Browse.VC.db-shm
/.vs/JPLogistics_C152/v17/Preview/Browse.VC.db-wal
/.vs/JPLogistics_C152/v17/Preview/Browse.VC.opendb
/Project Files/src/Avionics-EFB/efb/node_modules/
Browse.VC.*

