:root {
    --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
    0%, 100% {
        visibility: visible;
    }
}

@keyframes TemporaryHide {
    0%, 100% {
        visibility: hidden;
    }
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

    html body {
        -webkit-user-select: none;
        font-family: var(--font);
        font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100 );
        color: white;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

#highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#Electricity {
    width: 100%;
    height: 100%;
}

    #Electricity[state=off] {
        display: none;
    }

@font-face {
    font-family: "Alarm-Clock";
    src: url("/Pages/VCockpit/Instruments/Shared/Fonts/Quartz.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

JPLDME {
    width: 100%;
    height: 100%;
    color: orangered;
    font-family: Alarm-Clock;
    overflow: hidden;
}

    JPLDME #Mainframe {
        width: 100%;
        height: 100%;
        margin-left: 20px;
        margin-top: 30px;
    }

    JPLDME #ComPanel {
        position: absolute;
        top: 12%;
        left: 1%;
        width: 48%;
    }

    JPLDME #NavPanel {
        position: absolute;
        top: 12%;
        left: 49%;
        width: 48%;
    }

    JPLDME #NavState {
        position: absolute;
        top: 12%;
        right: 6%;
        width: 5%;
        text-align: right;
    }

    JPLDME #Separator {
        top: 12%;
        left: 49%;
        width: 0%;
        height: 75%;
        border: 1px solid orangered;
        position: absolute;
    }

    JPLDME .Align {
        display: inline-block;
    }

    JPLDME #ComActiveFreq {
        margin-left: 17px;
        font-size: 100px;
        width: 200px;
        text-align: right;
    }

    JPLDME #ComStandbyFreq {
        margin-left: -17px;
        font-size: 27px;
        width: 110px;
        text-align: right;
    }

    JPLDME #NavActiveFreq, JPLDME #NavRightDisplay {
        font-size: 100px;
        width: 200px;
        text-align: right;
    }

    JPLDME #NavActiveFreq {
        margin-bottom: 4px;
    }

    JPLDME #OBS {
        font-size: 12px;
        text-align: right;
        width: 13px;
        vertical-align: top;
        Line-Height: 8pt;
    }

    JPLDME #ComModeACT, JPLDME #ComModeSTB, JPLDME #COMText, JPLDME #COMVolume {
        visibility: hidden;
        display: none;
    }

    JPLDME #ComState {
        margin-left: 16px;
        font-size: 12px;
        text-align: right;
        width: 13px;
        Line-Height: 8pt;
    }

        JPLDME #ComState #T, JPLDME #ComState #R {
            visibility: hidden;
        }

        JPLDME #ComState[state=T] #T, JPLDME #ComState[state=R] #R, JPLDME #ComState[state=both] #T, JPLDME #ComState[state=both] #R {
            visibility: visible;
        }

    JPLDME #ChannelState {
        font-size: 12px;
    }

        JPLDME #ChannelState #CH, JPLDME #ChannelState #PG {
            visibility: hidden;
        }

        JPLDME #ChannelState[state=CH] #CH, JPLDME #ChannelState[state=PG] #PG {
            visibility: visible;
        }

    JPLDME #NavState {
        font-size: 10px;
        vertical-align: top;
    }

        JPLDME #NavState #TO, JPLDME #NavState #FR, JPLDME #NavState #ET {
            visibility: hidden;
        }

        JPLDME #NavState[state=TO] #TO, JPLDME #NavState[state=FR] #FR, JPLDME #NavState[state=ET] #ET {
            visibility: visible;
        }

    JPLDME #ChannelNumber {
        font-size: 26px;
        text-align: right;
        width: 40px;
    }

    JPLDME #BotNav {
        margin-top: -7px;
    }

    JPLDME #BotCom {
        margin-top: -7px;
        margin-left: 150px;
    }

    JPLDME #NavBotDisplayLeft {
        position: absolute;
        left: 0%;
        font-size: 15px;
        width: 38%;
        text-align: right;
    }

    JPLDME #NavBotDisplayMid {
        position: absolute;
        left: 42%;
        font-size: 15px;
        width: auto;
        text-align: center;
    }

    JPLDME #NavBotDisplayRight {
        position: absolute;
        left: 49%;
        font-size: 15px;
        width: 50%;
        text-align: left;
    }

    JPLDME #CDICursor {
        position: absolute;
    }

    JPLDME .Blink {
        visibility: hidden;
    }

        JPLDME .Blink[state=Blink] {
            visibility: visible;
        }

    JPLDME[display=comonly] {
        color: #C7F6FC;
        background-color: #04192D;
    }

        JPLDME[display=comonly][brightness=night] {
            color: #95b7bb;
            background-color: #040f19;
        }

        JPLDME[display=comonly] #ComPanel {
            top: 35%;
            left: 57%;
            width: 100%;
            transform: scaleX(2) scaleY(1.5);
        }

        JPLDME[display=comonly] #BotCom {
            margin-top: -15px;
        }

        JPLDME[display=comonly] #Separator, JPLDME[display=comonly] #NavPanel, JPLDME[display=comonly] #NavState {
            display: none;
        }

        JPLDME[display=comonly] #ComActiveFreq, JPLDME[display=comonly] #ComStandbyFreq {
            margin-left: -21px;
        }

        JPLDME[display=comonly] #ComModeACT {
            visibility: visible;
            display: inline;
            margin-left: -15px;
            font-size: 12px;
            width: 20px;
            text-align: right;
        }

        JPLDME[display=comonly] #ComModeSTB {
            visibility: visible;
            display: inline;
            margin-left: -26px;
            font-size: 12px;
            width: 20px;
            text-align: right;
        }

        JPLDME[display=comonly] #COMText {
            visibility: visible;
            display: inline;
            margin-left: 2px;
            vertical-align: top;
            font-size: 12px;
            width: 20px;
            text-align: right;
        }

        JPLDME[display=comonly] #COMVolume {
            visibility: hidden;
            display: block;
        }

            JPLDME[display=comonly] #COMVolume[combar=visible] {
                visibility: visible;
            }

/*# sourceMappingURL=KX155A.css.map */
