.nav-data-bar {
  position: relative;
  background: linear-gradient(to bottom, rgb(4,4,12), rgb(24, 28, 43));
  border-style: solid;
  border-width: 1px;
  border-color:rgb(133, 133, 133);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
  .nav-data-bar-fields {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    padding: 0 2px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    align-items: center;
    font-size: 20px;
  }
  .nav-data-bar-page-title {
    position: absolute;
    left: 0;
    top: 75%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: cyan;
  }