:root {
  --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible;
  }
}
@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden;
  }
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
html body {
  -webkit-user-select: none;
  font-family: var(--font);
  font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100 );
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Electricity {
  width: 100%;
  height: 100%;
}
#Electricity[state=off] {
  display: none;
}
@font-face {
  font-family: "Alarm-Clock";
  src: url("/Pages/VCockpit/Instruments/Shared/Fonts/Quartz.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
kap140-element {
  width: 100%;
  height: 100%;
  color: orangered;
  font-family: Alarm-Clock;
  overflow: hidden;
}
kap140-element #Mainframe {
  width: 100%;
  height: 100%;
}
kap140-element #BG {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: none;
}
kap140-element #APPanel {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
}
kap140-element #APDisplay {
  position: absolute;
  left: 25.5%;
  top: 10%;
  width: 8%;
  height: 30%;
  border: 2px solid orangered;
  padding: 1px;
  padding-left: 3px;
  font-size: 25px;
  text-align: center;
}
kap140-element #LeftBlock {
  position: absolute;
  left: 3%;
  top: 2%;
  width: 25%;
}
kap140-element #MidBlock {
  position: absolute;
  top: 2%;
  left: 35.5%;
  width: 25%;
}
kap140-element #RightBlock {
  position: absolute;
  left: 68%;
  top: 2%;
  width: 32%;
}
kap140-element #RightBlock #Alert {
  font-size: 20px;
}
kap140-element #RightBlock #Fpm {
  margin-left: 15%;
}
kap140-element #RightBlock #Ft {
  margin-left: 7%;
}
kap140-element #RightBlock #InHg {
  margin-left: 36%;
}
kap140-element #RightBlock #Fpm, kap140-element #RightBlock #Ft, kap140-element #RightBlock #Hpa, kap140-element #RightBlock #InHg {
  visibility: hidden;
  font-size: 20px;
}
kap140-element #RightBlock[state=FPM] #Fpm, kap140-element #RightBlock[state=FT] #Ft, kap140-element #RightBlock[state=HPA] #Hpa, kap140-element #RightBlock[state=INHG] #InHg, kap140-element #RightBlock[state=ALL] #Fpm, kap140-element #RightBlock[state=ALL] #Ft, kap140-element #RightBlock[state=ALL] #Hpa, kap140-element #RightBlock[state=ALL] #InHg {
  visibility: visible;
}
kap140-element #RightDisplayTop {
  padding-right: 40px;
  margin-bottom: 5%;
}
kap140-element #PTDisplay {
  position: absolute;
  left: 57%;
  top: 14%;
  width: 5%;
  font-size: 15px;
  text-align: right;
  Line-Height: 12pt;
  margin: 5px;
  font-weight: bold;
}
kap140-element .Display3Char {
  font-size: 50px;
  text-align: right;
  width: 70%;
  height: 42px;
}
kap140-element .Display6Char {
  font-size: 50px;
  text-align: right;
  width: 120%;
  height: 42px;
}
kap140-element .Align {
  display: inline-block;
  vertical-align: top;
}
kap140-element .ARM {
  font-size: 17px;
  text-align: center;
  Line-Height: 100%;
  margin-left: 7%;
}

/*# sourceMappingURL=KAP140.css.map */
