:root {
    --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
    0%, 100% {
        visibility: visible;
    }
}

@keyframes TemporaryHide {
    0%, 100% {
        visibility: hidden;
    }
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

    html body {
        -webkit-user-select: none;
        font-family: var(--font);
        font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100 );
        color: white;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

#highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#Mainframe {
    width: 100%;
    height: 100%;
}

#Electricity {
    width: 100%;
    height: 100%;
}

    #Electricity[state=off] {
        display: none;
    }

#WelcomeScreen {
    width: 100%;
    height: 100%;
}

    #WelcomeScreen[state=off] {
        display: none;
    }

#LowBScreen {
    width: 100%;
    height: 100%;
}

    #LowBScreen[state=off] {
        display: none;
    }

#NormalScreen {
    width: 100%;
    height: 100%;
}

    #NormalScreen[state=off] {
        display: none;
    }

@font-face {
    font-family: "DME";
    src: url("/Pages/VCockpit/Instruments/JPLogistics/Fonts/DME.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

efb-element1 {
    width: 100%;
    height: 100%;
    color: honeydew;
    font-family: DME;
    overflow: hidden;
}

    efb-element1 .Align {
        display: inline-block;
    }

    /*# General */
    efb-element1 #Welcome {
        padding-top: 10px;
        font-size: 40px;
        height: 50%;
        width: 100%;
        text-align: center;
        text-anchor: middle;
        vertical-align: middle;
    }

    efb-element1 #WelcomeLow {
        padding-bottom: 10px;
        font-size: 40px;
        height: 50%;
        width: 100%;
        text-align: center;
        text-anchor: middle;
        vertical-align: middle;
    }

    efb-element1 #LowBattery {
        padding-top: 10px;
        font-size: 40px;
        height: 100%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    efb-element1 #NavActiveFreq {
        padding-top: 12px;
        font-size: 40px;
        height: 100%;
        width: 20%;
        text-align: center;
        vertical-align: middle;
    }
    /*# NAV1 */
    efb-element1 #Nav1Freq {
        padding-top: 0px;
        font-size: 40px;
        height: 50%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    efb-element1 #Nav1Distance {
        padding-top: 35px;
        font-size: 40px;
        height: 100%;
        width: 20%;
        text-align: center;
        vertical-align: middle;
    }

    efb-element1 #Nav1TimeA {
        padding-top: 12px;
        font-size: 40px;
        height: 100%;
        width: 20%;
        text-align: center;
        vertical-align: middle;
    }

    efb-element1 #Nav1Time {
        padding-top: 0px;
        font-size: 40px;
        height: 50%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    efb-element1 #Nav1Time2 {
        padding-top: 0px;
        font-size: 40px;
        height: 50%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }


    /*# NAV2 */
    efb-element1 #Nav2Freq {
        padding-top: 0px;
        font-size: 40px;
        height: 50%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    efb-element1 #Nav2Distance {
        padding-top: 35px;
        font-size: 40px;
        height: 100%;
        width: 20%;
        text-align: center;
        vertical-align: middle;
    }

    efb-element1 #Nav2TimeA {
        padding-top: 12px;
        font-size: 40px;
        height: 100%;
        width: 20%;
        text-align: center;
        vertical-align: middle;
    }

    efb-element1 #Nav2Time {
        padding-top: 0px;
        font-size: 40px;
        height: 50%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    efb-element1 #Nav2Time2 {
        padding-top: 0px;
        font-size: 40px;
        height: 50%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

/*# sourceMappingURL=KX155A.css.map */
